<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>stam2 documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">stam2 documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  LoginComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/login/login.component.ts</code>
</p>






<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>st-login</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;h1&gt;{{&#x27;Login&#x27;}}&lt;/h1&gt;

&lt;h2&gt;{{10 | format}}&lt;/h2&gt;
&lt;h2&gt;{{10 | format: &#x27;mb&#x27;}}&lt;/h2&gt;
&lt;h2&gt;{{10 | format: &#x27;byte&#x27;}}&lt;/h2&gt;

{{1646217006000 | timesAgo}}


&lt;input type&#x3D;&quot;text&quot; ngModel&gt;
&lt;button (click)&#x3D;&quot;authService.login()&quot;&gt;login&lt;/button&gt;
&lt;hr&gt;
&lt;div
  *ngFor&#x3D;&quot;let cfg of list&quot;
  [stLoader]&#x3D;&quot;cfg&quot;
&gt;&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#authService" >authService</a>
                            </li>
                            <li>
                                <a href="#list" >list</a>
                            </li>
                        </ul>
                    </td>
                </tr>






        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(authService: <a href="../injectables/AuthService.html" target="_self">AuthService</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="58" class="link-to-prism">src/app/features/login/login.component.ts:58</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>authService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/AuthService.html" target="_self" >AuthService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>






    <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="authService"></a>
                    <span class="name">
                            <span class="modifier">Public</span>
                        <span ><b>authService</b></span>
                        <a href="#authService"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../injectables/AuthService.html" target="_self" >AuthService</a></code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="59" class="link-to-prism">src/app/features/login/login.component.ts:59</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="list"></a>
                    <span class="name">
                        <span ><b>list</b></span>
                        <a href="#list"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../interfaces/Config.html" target="_self" >Config[]</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>[
    {
      type: &#x27;cards&#x27;,
      data: {
        title: &#x27;pippo&#x27;,
        opened: true
      }
    },
    {
      type: &#x27;leaflet&#x27;,
      data: {
        coords: [42, 13]
      }
    },
    {
      type: &#x27;hello&#x27;,
    },
  ]</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="41" class="link-to-prism">src/app/features/login/login.component.ts:41</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import {
  AfterViewInit,
  Component,
  ComponentRef,
  OnInit,
  TemplateRef,
  Type,
  ViewChild,
  ViewContainerRef
} from &#x27;@angular/core&#x27;;
import { CardComponent } from &#x27;../../shared/components/card.component&#x27;;
import { GroupComponent } from &#x27;../../shared/components/group.component&#x27;;
import { HelloComponent } from &#x27;../../shared/components/hello.component&#x27;;
import { LeafletComponent } from &#x27;../../shared/components/leaflet.component&#x27;;
import {AuthService} from &quot;../../core/auth/auth.service&quot;;
import {map} from &quot;rxjs&quot;;
import {Config} from &quot;../../shared/directives/loader.directive&quot;;

@Component({
  selector: &#x27;st-login&#x27;,
  template: &#x60;
    &lt;h1&gt;{{&#x27;Login&#x27;}}&lt;/h1&gt;

    &lt;h2&gt;{{10 | format}}&lt;/h2&gt;
    &lt;h2&gt;{{10 | format: &#x27;mb&#x27;}}&lt;/h2&gt;
    &lt;h2&gt;{{10 | format: &#x27;byte&#x27;}}&lt;/h2&gt;

    {{1646217006000 | timesAgo}}


    &lt;input type&#x3D;&quot;text&quot; ngModel&gt;
    &lt;button (click)&#x3D;&quot;authService.login()&quot;&gt;login&lt;/button&gt;
    &lt;hr&gt;
    &lt;div
      *ngFor&#x3D;&quot;let cfg of list&quot;
      [stLoader]&#x3D;&quot;cfg&quot;
    &gt;&lt;/div&gt;
  &#x60;,
})
export class LoginComponent {
  list: Config[] &#x3D; [
    {
      type: &#x27;cards&#x27;,
      data: {
        title: &#x27;pippo&#x27;,
        opened: true
      }
    },
    {
      type: &#x27;leaflet&#x27;,
      data: {
        coords: [42, 13]
      }
    },
    {
      type: &#x27;hello&#x27;,
    },
  ]
  constructor(public authService: AuthService) {
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><h1>{{\'Login\'}}</h1><h2>{{10 | format}}</h2><h2>{{10 | format: \'mb\'}}</h2><h2>{{10 | format: \'byte\'}}</h2>{{1646217006000 | timesAgo}}<input type="text" ngModel><button (click)="authService.login()">login</button><hr><div  *ngFor="let cfg of list"  [stLoader]="cfg"></div></div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'st-accordion'},{'name': 'AppComponent', 'selector': 'st-root'},{'name': 'CardComponent', 'selector': 'st-card'},{'name': 'CatalogComponent', 'selector': 'st-catalog'},{'name': 'CatalogFormComponent', 'selector': 'st-catalog-form'},{'name': 'CatalogListComponent', 'selector': 'st-catalog-list'},{'name': 'CatalogListItemComponent', 'selector': 'st-catalog-list-item'},{'name': 'ChartjsComponent', 'selector': 'st-chartjs'},{'name': 'ColComponent', 'selector': 'st-col'},{'name': 'GroupComponent', 'selector': 'st-group'},{'name': 'HelloComponent', 'selector': 'st-hello'},{'name': 'LeafletComponent', 'selector': 'st-leaflet'},{'name': 'LoginComponent', 'selector': 'st-login'},{'name': 'NavbarComponent', 'selector': 'st-navbar'},{'name': 'RowComponent', 'selector': 'st-row'},{'name': 'Uikit1Component', 'selector': 'st-uikit1'},{'name': 'Uikit2Component', 'selector': 'st-uikit2'}];
    var DIRECTIVES = [{'name': 'BorderDirective', 'selector': '[stBorder]'},{'name': 'IfLoggedDirective', 'selector': '[stIfLogged]'},{'name': 'IfRoleIsDirective', 'selector': '[stIfRoleIs]'},{'name': 'IfSigninDirective', 'selector': '[stIfSignIn]'},{'name': 'LoaderDirective', 'selector': '[stLoader]'},{'name': 'MarginDirective', 'selector': '[stMargin]'},{'name': 'MyRouterLinkDirective', 'selector': '[stMyRouterLink]'},{'name': 'PadDirective', 'selector': '[stPad]'},{'name': 'StopPropagationDirective', 'selector': '[stStopPropagation]'},{'name': 'UrlDirective', 'selector': '[stUrl]'}];
    var ACTUAL_COMPONENT = {'name': 'LoginComponent'};
</script>
<script src="../js/tree.js"></script>

















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'LoginComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
